@model  Qwe.Models.Pens
@{
    ViewBag.Title = "Удаление";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Удаление</title>
</head>
<body>
    <div>
        <h3>
            Вы действительно хотите удалить запись?
        </h3>
        <form method="post" action="/Pens/ResultDeletep">
            <input type="hidden" name="PensId" value="@Model" />
            <input type="submit" value="Да" />
        </form>
        <form method="post" action="/Pens/Pen">
            <button type="submit">Назад</button>
        </form>
    </div>
</body>
</html>