@model  Qwe.Models.Short
@{
    ViewBag.Title = "Покупка";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Покупка</title>
</head>
<body>
    <div>
        <h3>Форма оформления покупки майки</h3>
        <form method="post" action="/Home/Buy">
            <input type="hidden" name="ShortId" value="@Model.Id"/>
            <table>
                <tr>
                    <td><p>Введите имя : </p></td>
                    <td><input type="text" name="Name" required/> </td>
                </tr>
                <tr>
                    <td><p>Введите фамилию : </p></td>
                    <td><input type="text" name="Surname" required/> </td>
                </tr>
                <tr>
                    <td><p>Введите отчество : </p></td>
                    <td><input type="text" name="Middlename" required/> </td>
                </tr>
                <tr>
                    <td><p>Введите адрес : </p></td>
                    <td>
                        <input type="text" name="Address" required/>
                    </td>
                </tr>
                <tr><td><input type="reset" value="Отчистить" /> </td><td></td></tr>
                <tr><td><input type="submit" value="Отправить" /> </td><td></td></tr>
            </table>
        </form>
        <form action="/Home/Index">
            <button type="submit">Назад</button>
        </form>
    </div>
</body>
</html>