@{
    ViewBag.Title = "Удаление";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Удаление</title>
</head>
<body>
    <div>
        <h3>
            Запись удалена!
        </h3>
        <form method="post" action="/Home/Index">
            <button type="submit">Назад</button>
        </form>
    </div>
</body>
</html>