@{
    ViewBag.Title = "Редактирование";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Редактирование</title>
</head>
<body>
    <div>
        <h3>Форма редактирования майки</h3>
        <form method="post" action="">
            <input type="hidden" value="@ViewBag.ShortId" name="ShortId" />
            <table>
                <tr>
                    <td><p>Введите пол : </p></td>
                    <td><input type="text" name="Sex" /> </td>
                </tr>
                <tr>
                    <td><p>Введите название : </p></td>
                    <td><input type="text" name="Name" /> </td>
                </tr>
                <tr>
                    <td><p>Введите размер : </p></td>
                    <td><input type="text" name="Size" /> </td>
                </tr>
                <tr>
                    <td><p>Введите цену : </p></td>
                    <td>
                        <input type="text" name="Price" />
                    </td>
                </tr>
                <tr><td><input type="submit" value="Отправить" /> </td><td></td></tr>
            </table>
        </form>
        <form action="/Home/Index">
            <button type="submit">Назад</button>
        </form>
    </div>
</body>
</html>