@using Qwe.Models
@model IEnumerable<Short>
@{
    ViewBag.Title = "Магазин";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Магазин</title>
</head>
<body>
    <div>
        <h3>Распродажа маек</h3>
        <table width="100%" cellspacing="0" cellpadding="4">
            <tr>
                <td><p>Пол </p></td>
                <td><p>Название </p></td>
                <td><p>Размер </p></td>
                <td><p>Цена </p></td>
                <td></td>
            </tr>
            @foreach (Qwe.Models.Short b in Model)
            {
                <tr>
                    <td><p>@b.Sex</p></td>
                    <td><p>@b.Name</p></td>
                    <td><p>@b.Size</p></td>
                    <td><p>@b.Price</p></td>
                    <td><p><a href="/Home/Buy/@b.Id">Купить</a></p></td>
                    <td><p><a href="/Home/Edit/@b.Id">Редактировать</a></p></td>
                    <td><p><a href="/Home/Delete/@b.Id">Удалить</a></p></td>
                </tr>
            }
        </table>
        <form action="/Home/Add">
            <button type="submit">Добавить запись</button>
        </form>
    </div>
</body>
</html>