
@{
    ViewBag.Title = "Primer";
}

    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Пример</title>
    </head>
    <body>
        <div>
            <h3>Пример</h3>
            <table>
                <tr>
                    <td><p>Результат: </p></td>
                    <td></td>
                </tr>
            </table>
        </div>
    </body>
    </html>