@{
    ViewBag.Title = "Результат";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Результат</title>
</head>
<body>
    <div>
        <h3>
            Операция @ViewBag.Buy @ViewBag.Add @ViewBag.Edit @ViewBag.Delete выполнена успешно!
        </h3>
        <form method="post" action="/Home/Index">
            <button type="submit">На главную</button>
        </form>
    </div>
</body>
</html>